NODE_ENV=
APP_PORT=
APP_NAME="Marketplace API"
API_PREFIX=api


DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_PORT=
DATABASE_URL=

# DEPENDENT MODULES
WALLET_SERVICE_URL=
REQUEST_SERVICE_URL=
COURSE_MANAGER_URL=
PASSBOOK_SERVICE_URL=
USER_SERVICE_URL=
USER_SERVICE_TOKEN=
USER_SERVICE_COOKIE=
WPCAS_SERVICE_URL=

# CREDENTIAL SERVICE
CREDENTIAL_SERVICE_URL=
CREDENTIAL_ISSUER_DID=
CREDENTIAL_SCHEMA_DID=
CREDENTIAL_SCHEMA_VERSION=

# BAP SERVICE
BAP_URI=
