NODE_ENV=production
APP_PORT=4020
APP_NAME="Marketplace API"
API_PREFIX=api


DATABASE_USERNAME=postgres
DATABASE_PASSWORD=secret
DATABASE_NAME=marketplace-db
DATABASE_PORT=5432
DATABASE_URL="postgresql://postgres:secret@postgres:5432/marketplace-db?sslmode=prefer"

# DEPENDENT MODULES
WALLET_SERVICE_URL=http://wallet:4022
REQUEST_SERVICE_URL=http://localhost:4024
COURSE_MANAGER_URL=https://course.backend.compass.samagra.io
PASSBOOK_SERVICE_URL=https://compass.samagra.io
USER_SERVICE_URL=http://mock_user_service:4023

# CREDENTIAL SERVICE
CREDENTIAL_SERVICE_URL="https://compass.samagra.io"
CREDENTIAL_ISSUER_DID="did:upai:c77838f6-c4ad-40e9-b066-a8fa33d5f5a1"
CREDENTIAL_SCHEMA_DID="did:schema:e9dda975-de94-4d05-b1ec-8d572c5f61be"
CREDENTIAL_SCHEMA_VERSION="1.2.0"

# BAP SERVICE
BAP_URI=https://bap.compass.samagra.io
