NODE_ENV=production
APP_PORT=4020
APP_NAME="Marketplace API"
API_PREFIX=api


DATABASE_USERNAME=postgres
DATABASE_PASSWORD=secret
DATABASE_NAME=marketplace-db
DATABASE_PORT=5432
DATABASE_URL="postgresql://postgres:secret@postgres:5432/marketplace-db?sslmode=prefer"

# DEPENDENT MODULES
WALLET_SERVICE_URL=http://localhost:4022
REQUEST_SERVICE_URL=http://localhost:4023
COURSE_MANAGER_URL=
PASSBOOK_SERVICE_URL=

# CREDENTIAL SERVICE
CREDENTIAL_SERVICE_URL=
CREDENTIAL_ISSUER_DID=
CREDENTIAL_SCHEMA_DID=
CREDENTIAL_SCHEMA_VERSION=

# BAP SERVICE
BAP_URI=https://bap.compass.samagra.io
